<% content_for :head do %>
<title>Ajahn Buddhadasa Indapanno - Suan Mokkh</title>
<meta content="832982693512511" property="fb:app_id"><meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content='http://www.bia.or.th/en/images/photo/08dec.jpg' itemprop="image primaryImageOfPage" property="og:image" /><meta itemprop="title name" content='Ajahn Buddhadasa Indapanno' property="og:title" itemprop="title name" /><meta itemprop="description" content='Buddhadasa Bhikkhu (Servant of the Buddha) went forth as a bhikkhu (Buddhist monk) in 1926, at the age of twenty. After a few years of study in Bangkok, which convinced him "purity is not to be found in the big city" he was inspired to live close with nature in order to investigate the Buddha-Dhamma. Thus, he established Suan Mokkhabalarama (The Grove of the Power of Liberation) in 1932, near his hometown of Pum Riang (now in Chaiya District). At that time, it was the only forest Dhamma Center and one of the few places dedicated to vipassana meditation in Southern Thailand. Word of Buddhadasa Bhikkhu, his work, and Suan Mokkh spread over the years so that they are easily described as "one of the most influential events of Buddhist history in Siam" Here, we can only mention some of the most interesting services he has rendered Buddhism.' property="og:description" /><meta content="Suan Mokkh" name="twitter:site"/><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/><meta property="og:type" content="website" /><meta content='Ajahn Buddhadasa Indapanno' name="twitter:title" /><meta itemprop="description" content='Buddhadasa Bhikkhu (Servant of the Buddha) went forth as a bhikkhu (Buddhist monk) in 1926, at the age of twenty. After a few years of study in Bangkok, which convinced him "purity is not to be found in the big city" he was inspired to live close with nature in order to investigate the Buddha-Dhamma. Thus, he established Suan Mokkhabalarama (The Grove of the Power of Liberation) in 1932, near his hometown of Pum Riang (now in Chaiya District). At that time, it was the only forest Dhamma Center and one of the few places dedicated to vipassana meditation in Southern Thailand. Word of Buddhadasa Bhikkhu, his work, and Suan Mokkh spread over the years so that they are easily described as "one of the most influential events of Buddhist history in Siam" Here, we can only mention some of the most interesting services he has rendered Buddhism.' name="twitter:description"/><meta content='http://www.bia.or.th/en/images/photo/08dec.jpg' name="twitter:image:src" /><meta property="og:url" content="<%= request.original_url %>"/><link rel="canonical" href="<%= request.original_url %>"/>
<% end %>

<div id="buddhadasa" class="bg-dark article_standard">
<div class="container-fluid bg-dark buddhadasa-page">
	
</div>

<div class="container bg-primary big-top-margin" style="border: none;">
	<h1 class="text-center animated fadeIn"><%= @page.title %></h1>
	<hr>
	<div class="col-md-10">
			<%= @page.content.html_safe %> 
					</div>
					<div class="col-md-2 hidden-sm hidden-xs" >
						    	<ul id="buddhadasa-nav" class="nav nav-pills nav-stacked text-center" style="position:fixed;" >
						    		<h4 class="text-center brown">Navigation</h4>
						    		<!-- <hr> -->
						    		<!-- <li role="presentation" class="disabled"><a href="#">Go to: </a></li> -->
						    	  <li role="presentation"><a class="page-scroll" href="#biography">Biography</a></li>
						    	  <hr>						    	 
						    	  <h4 class="text-center brown">Ajahn's Teachings</h4>
						    	  <!-- <hr> -->
						    	  <!-- <li role="presentation"><a href="/teachings">Ajahn's Teachings</a></li> -->
						    	  <li role="presentation"><a href="https://soundcloud.com/buddhadasa">Talks</a></li>
						    	  <li role="presentation"><a href="/books">Books</a></li>
						    	  <li role="presentation"><a href="/poems">Poetry</a></li>
						    	  <li role="presentation"><a href="https://www.youtube.com/user/buddhadasaarchives">Video</a></li>
						    	  <hr>
						    	  <h4 class="text-center brown">Related</h4>
						    	  <li role="presentation"><a href="/suanmokkh">Suan Mokkh</a></li>
						    	  <li role="presentation"><a href="http://www.bia.or.th/en/">BIA</a></li>
						    	  <!-- <li role="presentation"><a href="https://www.youtube.com/user/buddhadasaarchives">Ajahn's Videos</a></li> -->
						    <!-- 	  <li role="presentation"><a class="page-scroll" href="#suanMokkh">Profile</a></li>
						    	  <li role="presentation"><a class="page-scroll" href="#suanMokkh">Messages</a></li> -->
						    	</ul>

					</div>
						
</div>

</div>