<% content_for :head do %>
<title>Ajahn Buddhadasa Indapanno - Suan Mokkh</title>
<meta content="832982693512511" property="fb:app_id"><meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content='http://www.bia.or.th/en/images/photo/08dec.jpg' itemprop="image primaryImageOfPage" property="og:image" /><meta itemprop="title name" content='Ajahn Buddhadasa Indapanno' property="og:title" itemprop="title name" /><meta itemprop="description" content='Buddhadasa Bhikkhu (Servant of the Buddha) went forth as a bhikkhu (Buddhist monk) in 1926, at the age of twenty. After a few years of study in Bangkok, which convinced him "purity is not to be found in the big city" he was inspired to live close with nature in order to investigate the Buddha-Dhamma. Thus, he established Suan Mokkhabalarama (The Grove of the Power of Liberation) in 1932, near his hometown of Pum Riang (now in Chaiya District). At that time, it was the only forest Dhamma Center and one of the few places dedicated to vipassana meditation in Southern Thailand. Word of Buddhadasa Bhikkhu, his work, and Suan Mokkh spread over the years so that they are easily described as "one of the most influential events of Buddhist history in Siam" Here, we can only mention some of the most interesting services he has rendered Buddhism.' property="og:description" /><meta content="Suan Mokkh" name="twitter:site"/><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/><meta property="og:type" content="website" /><meta content='Ajahn Buddhadasa Indapanno' name="twitter:title" /><meta itemprop="description" content='Buddhadasa Bhikkhu (Servant of the Buddha) went forth as a bhikkhu (Buddhist monk) in 1926, at the age of twenty. After a few years of study in Bangkok, which convinced him "purity is not to be found in the big city" he was inspired to live close with nature in order to investigate the Buddha-Dhamma. Thus, he established Suan Mokkhabalarama (The Grove of the Power of Liberation) in 1932, near his hometown of Pum Riang (now in Chaiya District). At that time, it was the only forest Dhamma Center and one of the few places dedicated to vipassana meditation in Southern Thailand. Word of Buddhadasa Bhikkhu, his work, and Suan Mokkh spread over the years so that they are easily described as "one of the most influential events of Buddhist history in Siam" Here, we can only mention some of the most interesting services he has rendered Buddhism.' name="twitter:description"/><meta content='http://www.bia.or.th/en/images/photo/08dec.jpg' name="twitter:image:src" /><meta property="og:url" content="<%= request.original_url %>"/><link rel="canonical" href="<%= request.original_url %>"/>
<% end %>

<div id="buddhadasa" class="bg-dark article_standard">
<div class="container-fluid bg-dark buddhadasa-page">
	
</div>

<div class="container bg-primary big-top-margin" style="border: none;">
	<h1 class="text-center animated fadeIn">Ajahn Buddhadasa</h1>
	<hr>
	<div class="col-md-10">
		<img src="/assets/ajarn1.jpg" class="shadow article_image float_inherit" height="175">
						<p>
						Buddhadasa Bhikkhu (Servant of the Buddha) went forth as a bhikkhu (Buddhist monk) in 1926, at the age of twenty. After a few years of study in Bangkok, which convinced him "purity is not to be found in the big city," he was inspired to live close with nature in order to investigate the Buddha-Dhamma. Thus, he established Suan Mokkhabalarama (The Grove of the Power of Liberation) in 1932, near his hometown of Pum Riang (now in Chaiya District). At that time, it was the only forest Dhamma Center and one of the few places dedicated to vipassana meditation in Southern Thailand. Word of Buddhadasa Bhikkhu, his work, and Suan Mokkh spread over the years so that they are easily described as "one of the most influential events of Buddhist history in Siam." Here, we can only mention some of the most interesting services he has rendered Buddhism.</p>
						<hr id="biography" class="full">
						<h2 class="text-center haveMargin" style="margin-top:30px;">Biography</h2>
						<hr>
						<p>
						Ajahn Buddhadasa worked painstakingly to establish and explain the correct and essential principles of what he called "pristine Buddhism," that is, the original realization of the Lord Buddha before it was buried under commentaries, ritualism, clerical politics, and the like. His work was based in extensive research of the Pali texts (Canon and commentary), especially of the Buddha's Discourses (Sutta Pitaka), followed by personal experiment and practice with these teachings. Then he taught whatever he could say truly quenches dukkha (dissatisfaction, suffering). His goal was to produce a complete set of references for present and future research and practice. His approach was always scientific, straight-forward, and practical.</p>
						<p>Although his formal education only went as far as ninth grade and beginning Pali studies, he was given five Honorary Doctorates by Thai universities. His books, both written and transcribed from talks, fill a room at the National Library and influence all serious Thai Buddhists in Siam. Doctoral dissertations are still being written about him and his legacy. His books can be found in bookstores around the country and are favorites as gifts at cremations.</p>
						<p>Progressive elements in Thai society, especially the young, were inspired by his teaching and selfless example. Since the 1960's, activists and thinkers in areas such as education, ecology, social welfare, and rural development have drawn upon his teaching and advice. Most of the monks involved in nature conservation and community development were inspired by him. He provided the link between the scriptural tradition and engaged Buddhist practice today.</p>
						<p align="left"><img class="shadow article_image" src="/assets/ajarn2.jpg" alt="tan ajarn's last days" height="343" align="right" hspace="5">After the founding of Suan Mokkh, he studied all schools of Buddhism, as well as the other major religious traditions. This interest was practical rather than scholarly. He sought to unite all genuinely religious people in order to work together to help, as he put it, "drag humanity out from under the power of materialism." This broadmindedness won him friends and students from around the world, including Christians, Muslims, Hindus, and Sikhs.</p>
						<p align="left">His last project was to establish an International Dhamma Hermitage. This addition to Suan Mokkh is intended to provide facilities for:</p>
							
							<li>
								<p><small>Courses which introduce foreigners to the correct understanding of Buddhist principles and practice.</small></p>
							</li>
							
							<li>
								<p><small>Meetings among Buddhists from around the world to establish and agree upon the &quot;heart of Buddhism&quot;;</small></p>
							</li>
							
							<li>
								<p><small>Meetings of leaders from all religions for the sake of making mutual good understanding and cooperating to drag the world out from under the tyranny of materialism.</small></p>
							</li>
							<li>
								<p><small>He left instruction for the building of <em>Dhamma-Mata,</em> a residential facility to support the dedicated study-practice of women. He called it <em>Dhamma-Mata</em> (Dhamma Mothers, those who give birth to others through Dhamma).</small></p>
							</li>
							
						<p align="left">Ajahn Buddhadasa died in 1993 after a series of heart attacks and strokes that he kept bouncing back from in order to teach. The final stroke occurred as he was preparing notes for a talk to be given on his birthday in two days (27 May). <a href="/suanmokhh">Suan Mokkh</a> carries on in the hearts and actions of all those who have been inspired and guided by his example and words. Suan Mokkh is not so much a physical place as it is the space of liberation that we all must discover in this very life.</p>
					</div>
					<div class="col-md-2 hidden-sm hidden-xs" >
						    	<ul id="buddhadasa-nav" class="nav nav-pills nav-stacked text-center" style="position:fixed;" >
						    		<h4 class="text-center brown">Navigation</h4>
						    		<!-- <hr> -->
						    		<!-- <li role="presentation" class="disabled"><a href="#">Go to: </a></li> -->
						    	  <li role="presentation"><a class="page-scroll" href="#biography">Biography</a></li>
						    	  <hr>						    	 
						    	  <h4 class="text-center brown">Ajahn's Teachings</h4>
						    	  <!-- <hr> -->
						    	  <!-- <li role="presentation"><a href="/teachings">Ajahn's Teachings</a></li> -->
						    	  <li role="presentation"><a href="https://soundcloud.com/buddhadasa">Talks</a></li>
						    	  <li role="presentation"><a href="/books">Books</a></li>
						    	  <li role="presentation"><a href="/poems">Poetry</a></li>
						    	  <li role="presentation"><a href="https://www.youtube.com/user/buddhadasaarchives">Video</a></li>
						    	  <hr>
						    	  <h4 class="text-center brown">Related</h4>
						    	  <li role="presentation"><a href="/suanmokkh">Suan Mokkh</a></li>
						    	  <li role="presentation"><a href="http://www.bia.or.th/en/">BIA</a></li>
						    	  <!-- <li role="presentation"><a href="https://www.youtube.com/user/buddhadasaarchives">Ajahn's Videos</a></li> -->
						    <!-- 	  <li role="presentation"><a class="page-scroll" href="#suanMokkh">Profile</a></li>
						    	  <li role="presentation"><a class="page-scroll" href="#suanMokkh">Messages</a></li> -->
						    	</ul>

					</div>
						
</div>

</div>

<%= javascript_include_tag 'buddhadasa', 'data-turbolinks-track' => true %>