<%= simple_form_for(@gallery_photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :external_cover_img_link %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
