<section id="tanajarn" class="bg-primary" style="padding-top:25px">
	<div class="container	text-justify">
				<h1 class="text-center wow fadeIn">Buddhadasa Bhikkhu</h1><hr> 

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
	<!-- <div>
		    		<%= image_tag "ajarn1.jpg", class: "lazyOwl img-responsive floatCenter shadow"%>	
		    		</div> -->

					<iframe id="ytplayer" type="text/html" width="100%" height="555" src="https://www.youtube.com/embed/rp3-7nquO3U?cc_load_policy=1&modestbranding=1&color=white&theme=light"frameborder="0" allowfullscreen></iframe>

					<!-- <iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119522369&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> -->
			</div>
			<div class="col-md-12">
				<br>
<!-- 				<p class="havePadding" style="line-height:2;"><i class="fa fa-quote-left fa-3x pull-left"></i> ...founded Suan Mokkh after giving up on the monastic system in Bangkok. He found the Wats (temples) there dirty, crowded, and corrupt, nothing like the purer, more simple Buddhism of his birthplace. Thus, returned to the South and moved into an abandoned temple near his hometown. At first living alone, then with others as news of his experiment spread, he took a radical look into the sources of Theravada Buddhism and dedicated his life to following the pristine Dhamma and correcting the numerous mistaken beliefs and practices that had crept in over the centuries. Some hated him, others loved him. Why not see what he has to offer? See below for some of his teachings.</p> -->

				<p class="havePadding" style="line-height:2;"><i class="fa fa-quote-left fa-3x pull-left"></i>Buddhadasa Bhikkhu (Servant of the Buddha) went forth as a bhikkhu (Buddhist monk) in 1926, at the age of twenty. After a few years of study in Bangkok, which convinced him "purity is not to be found in the big city," he was inspired to live close with nature in order to investigate the Buddha-Dhamma. Thus, he established Suan Mokkhabalarama (The Grove of the Power of Liberation) in 1932, near his hometown of Pum Riang (now in Chaiya District). At that time, it was the only forest Dhamma Center and one of the few places dedicated to vipassana meditation in Southern Thailand. Word of Buddhadasa Bhikkhu, his work, and Suan Mokkh spread over the years so that they are easily described as "one of the most influential events of Buddhist history in Siam." Here, we can only mention some of the most interesting services he has rendered Buddhism.</p>

				<p class="havePadding text-indent" style="line-height:2;">Ajahn Buddhadasa worked painstakingly to establish and explain the correct and essential principles of what he called "pristine Buddhism," that is, the original realization of the Lord Buddha before it was buried under commentaries, ritualism, clerical politics, and the like. His work was based in extensive research of the Pali texts (Canon and commentary), especially of the Buddha's Discourses (Sutta Pitaka), followed by personal experiment and practice with these teachings. Then he taught whatever he could say truly quenches dukkha (dissatisfaction, suffering). His goal was to produce a complete set of references for present and future research and practice. His approach was always scientific, straight-forward, and practical.</p>

				<p class="havePadding text-indent" style="line-height:2;">Although his formal education only went as far as ninth grade and beginning Pali studies, he was given five Honorary Doctorates by Thai universities. His books, both written and transcribed from talks, fill a room at the National Library and influence all serious Thai Buddhists in Siam. Doctoral dissertations are still being written about him and his legacy. His books can be found in bookstores around the country and are favorites as gifts at cremations.</p>

				<p class="havePadding text-indent" style="line-height:2;">Progressive elements in Thai society, especially the young, were inspired by his teaching and selfless example. Since the 1960's, activists and thinkers in areas such as education, ecology, social welfare, and rural development have drawn upon his teaching and advice. Most of the monks involved in nature conservation and community development were inspired by him. He provided the link between the scriptural tradition and engaged buddhist practice today.</p>

				<p class="havePadding text-indent" style="line-height:2;">After the founding of Suan Mokkh, he studied all schools of Buddhism, as well as the other major religious traditions. This interest was practical rather than scholarly. He sought to unite all genuinely religious people in order to work together to help, as he put it, "drag humanity out from under the power of materialism." This broadmindedness won him friends and students from around the world, including Christians, Muslims, Hindus, and Sikhs.</p>


				<hr>
				<a href="#" class="btn btn-default btn-xl wow fadeIn text-center floatCenter" role="button" style="width: 200px;">Learn More</a>
<!-- 				<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119522369&amp;color=725843&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe> -->
			</div>
		</div>
	</div>
</section> 