<section id="tanajarn" class="bg-primary" style="padding-top:25px">
	<div class="container	text-justify">
		<h1 class="text-center wow fadeIn">Buddhadasa Bhikkhu</h1><hr> 
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<iframe id="ytplayer" type="text/html" width="100%" height="555" src="https://www.youtube.com/embed/rp3-7nquO3U?cc_load_policy=1&modestbranding=1&color=white&theme=light"frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-12 text-justified">
				<p class="havePadding text-indent" style="line-height:2; font-weight: 100">Buddhadasa Bhikkhu founded Suan Mokkh after giving up on the monastic system in Bangkok. He found the Wats (temples) there dirty, crowded, and corrupt, nothing like the purer, more simple Buddhism of his birthplace. Thus, returned to the South and moved into an abandoned temple near his hometown. At first living alone, then with others as news of his experiment spread, he took a radical look into the sources of Theravada Buddhism and dedicated his life to following the pristine Dhamma and correcting the numerous mistaken beliefs and practices that had crept in over the centuries. Some hated him, others loved him. Why not see what he has to offer? </p>
			</div>
		</div>
		<a href="/buddhadasa" class="btn btn-default btn-xl wow fadeIn text-center floatCenter" role="button" style="width: 200px;">Learn More</a>
	</div>
</section> 