<section id="index-poetry" class="bg-dark">
	<div class="container">
		<h1 class="text-center wow fadeIn">Poetry</h1>
		<hr>
		<div class="col-md-12 text-center">
			<div id="owl-poetry" class="owl-carousel owl-theme">
				<div class="item">
				<h2>
					I offer this life and body to the Buddha,<br><br>

					the Buddha is my master, <br><br>

					I am the Buddha's servant. <br><br>

					Thus, I am called "Buddhadasa."<br><br>
				</h2>
			</div>
				<div class="item">
				<h2>
					Buddhadasa shall live, there's no dying. <br>
					Even when the body dies, it will not listen. <br>
					Whether it is or goes is of no consequence, <br>
					it is only something passing through time.<br><br>

					Buddhadasa carries on, there's no dying. <br>
					However good or bad the times, <br>
					always one with the true teaching. <br>
					Having offered body and mind in ceaseless service <br>
					Under Lord Buddha's command.<br><br>

					Buddhadasa lives on, there's no dying. <br>
					In service to all humanity forever <br>
					through the Dhamma Proclamations left behind -- <br>
					O, Friends, can't you see! What dies?<br><br>

					Even when I die and the body ceases <br>
					my voice still echoes in comrades' ears <br>
					clear and bright, as loud as ever. <br>
					Just as if I never died the Dhamma-body lives on.<br><br>

					Treat me as if I never died, <br>
					as though I am with you all as before. <br>
					Speak up whatever is on your minds <br>
					as if I sit with you helping point out the facts.<br><br>

					Treat me as if I never died, then <br>
					many streams of benefits will accrue. <br>
					Don't forget the days we set aside for Dhamma discussion; <br>
					Realize the Absolute and stop dying!<br><br>
				</h2>
			</div>
			</div>
		</div>
		<div class="col-md-12">
		<a href="/poems" class="btn btn-default btn-xl wow fadeIn text-center floatCenter haveMargin" style="width: 200px;">See all</a>
		</div>
	</div>
</section>
