<section id="index-bia" class="bg-dark">
	<div class="container">
		<h1 class="text-center wow fadeIn">Online Store</h1>
		<hr>
		<p class="text-center floatCenter" style="font-weight: 400; max-width:400px; padding-bottom: 15px;">Visit our online store to order books, audios, or souvenirs. Through our online store we hope to share the Dhamma to the world in hope of making the world a better place starting from within.</p>
		<div class="row" style="margin-top: 20px; margin-bottom: 30px;">
<!-- 			<div class="col-md-12">
	    		<%= image_tag "banner-2.jpg", class: "img-responsive floatCenter shadow"%>	
			</div> -->
		</div>
		<div class="col-md-12">
		<a href="/store" class="btn btn-primary btn-xl wow fadeIn text-center floatCenter haveMargin" style="width: 200px;">Visit Store</a>
		</div>
	</div>
</section>

