<% if @books.count > 0 %>

	<section id="index-poetry" class="bg-dark">
		<div class="container">
			<h1 class="text-center wow fadeIn">Poetry</h1>
			<hr>
			<div class="col-md-12 text-center">
				<div id="owl-poetry" class="owl-carousel owl-theme">
					<div class="item">
					<h2>
						I offer this life and body to the Buddha,<br><br>

						the Buddha is my master, <br><br>

						I am the Buddha's servant. <br><br>

						Thus, I am called "Buddhadasa."<br><br>
					</h2>
				</div>
					<div class="item">
					<h2>
						Buddhadasa shall live, there's no dying. <br>
						Even when the body dies, it will not listen. <br>
						Whether it is or goes is of no consequence, <br>
						it is only something passing through time.<br><br>

						Buddhadasa carries on, there's no dying. <br>
						However good or bad the times, <br>
						always one with the true teaching. <br>
						Having offered body and mind in ceaseless service <br>
						Under Lord Buddha's command.<br><br>

						Buddhadasa lives on, there's no dying. <br>
						In service to all humanity forever <br>
						through the Dhamma Proclamations left behind -- <br>
						O, Friends, can't you see! What dies?<br><br>

						Even when I die and the body ceases <br>
						my voice still echoes in comrades' ears <br>
						clear and bright, as loud as ever. <br>
						Just as if I never died the Dhamma-body lives on.<br><br>

						Treat me as if I never died, <br>
						as though I am with you all as before. <br>
						Speak up whatever is on your minds <br>
						as if I sit with you helping point out the facts.<br><br>

						Treat me as if I never died, then <br>
						many streams of benefits will accrue. <br>
						Don't forget the days we set aside for Dhamma discussion; <br>
						Realize the Absolute and stop dying!<br><br>
					</h2>
				</div>
				</div>
			</div>
					<div class="row no-gutter">
<!-- 						<div class="col-md-4 havePadding">
							<a href="#" class="portfolio-box">
							<%= image_tag "book1.jpg", style: "height: 300px; width: 65%;", class: "lazyOwl img-responsive floatCenter"%>
							    <div class="portfolio-box-caption">
							        <div class="portfolio-box-caption-content">
							            <div class="project-category text-faded">
							                Category
							            </div>
							            <div class="project-name">
							                Project Name
							            </div>
							        </div>
							    </div>
							</a>
						</div> -->
	<!-- 					<div class="col-lg-4 col-sm-6">
						    <a href="#" class="portfolio-box">
							<%= image_tag "suanmokkh3.jpg", style: "height: 300px; width: 100%;", class: "lazyOwl img-responsive floatCenter"%>						        
						        <div class="portfolio-box-caption">
						            <div class="portfolio-box-caption-content">
						                <div class="project-category text-faded">
						                    Category
						                </div>
						                <div class="project-name">
						                    Project Name
						                </div>
						            </div>
						        </div>
						    </a>
						</div> -->
					</div>
<!-- 			<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
				<div class="col-md-6">
					<p class="text-indent">No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around. No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.</p>
					<hr class="full">
					<h2 class="text-center"><i class="fa fa-headphones"></i> Tracks Available</h2>
					<h1 class='text-center'>249</h1>
					<hr class="full">

				</div>
				<div class="col-md-6">
					<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119522369&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				</div>
			</div> -->
			<div class="col-md-12">
			<a href="/poems" class="btn btn-default btn-xl wow fadeIn text-center floatCenter haveMargin" style="width: 200px;">See all</a>
			</div>
		</div>
	</section>

<% else %>
	
	<section id="index-poetry" class="container-fluid bg-dark text-center havePadding">
		<i class="fa fa-circle-thin fa-4x"></i>
		<h2>No Poems Available at this time!</h2>
	<hr>
	</section>

<% end %>

