
	<section id="index-bia" class="bg-primary">
		<div class="container">
			<h1 class="text-center wow fadeIn">Buddhadasa Indapanno Archives</h1>
			<hr>
			<p class="text-center floatCenter" style="font-weight: 400; max-width:400px; padding-bottom: 15px;">Situated in the heart of Bangkok, BIA is the largest archives of Ajahn Buddhadasa's work. Beside from collecting and maintaining Ajahn's work, it has become a hub for all Buddhism related events.</p>
			<div class="row" style="margin-top: 20px; margin-bottom: 30px;">

				<div class="col-md-12">
		    		<%= image_tag "banner-2.jpg", class: "img-responsive floatCenter shadow"%>	
				</div>
			</div>

			<div class="col-md-12">
			<a href="http://www.bia.or.th/en/" class="btn btn-primary btn-xl wow fadeIn text-center floatCenter haveMargin" style="width: 200px;">Learn More</a>
			</div>
		</div>
	</section>

