	<section id="suanMokkh" style="padding-top:25px; padding-bottom:100px;">
		<h1 class="text-center wow fadeIn">Suan Mokkh</h1>
		<hr>
		<div class="container text-justify">
			<div class="row havePadding">
				<div class="col-md-6">
						<p class="text-indent">Suan Mokkh was a forest monastery along the coast of Southern Thailand, 600 km from Bangkok. It was founded in 1932 by Buddhadasa Bhikkhu (see below) and grew to become the most innovative and progressive Buddhist teaching center in Siam. Although Buddhadasa Bhikkhu has passed away, much of his work continues. This site is a continuation of that work, one of many virtual Suan Mokkhs. As the true Suan Mokkh can only be found within the nature of the silent mind, any attempt to speak of it is virtual, whether in talks, books, or cyberspace. Here we attempt to extend the discoveries of Suan Mokkh into the 84,000 virtual worlds. May the contents support you in the realization of the liberation that is ever now within the nature of the mind that is experiencing this "reality," virtual or what-have-you.</p>
						<br>
				</div>
				<div class="col-md-6">
				<p class="text-indent">
					The Suan Mokkh of Buddhadasa Bhikkhu may be difficult to find in some of the activities being carried out these days in his name. This should not discourage those who sincerely seek what he sought & taught: the end of suffering through not attaching to anything as "I" or "mine." To the degree we can put this into practice, we will understand & discover "The Garden of Liberation" for ourselves, both within us and as we help reveal it in whatever place we find ourselves. It isn't necessary to seek Suan Mokkh in the place where Buddhadasa Bhikkhu once lived. Seek it wherever you are!
				</p>
				</div>


			</div>
		</div>
				<a href="/suanmokkh" class="btn btn-default btn-xl wow fadeIn text-center">Learn More</a>
	</section>