	<section id="suanMokkh" style="padding-top:25px; padding-bottom:100px;">
		<h1 class="text-center wow fadeIn">Suan Mokkh</h1>
		<hr>
		<div class="container text-justify">
			<div class="row havePadding">
				<p>Wat Suan Mokkh is a forest monastery where about 40 monks live in little huts in the forest. From July to September, during the traditional three month rain retreat, the number of monks may increase to more than 70. Another part of the mon­as­tery grounds is re­served for nuns and lay women.</p>
				<!-- <br> -->
				<p>At one time, before 1996, a small community of foreigners lived at Wat Suan Mokkh, known worldwide as a centre for med­i­ta­tion. Today only occasionally foreigners will stay longer than two or three days before or after the retreat at the associated Inter­na­tional Dharma Her­mit­age about 1.5 km to the east of the main mon­as­tery.</p>

				<p>This hermitage attracts more than 1,000 for­eign­ers a year to Wat Suan Mokkh, which some­times appears as Wat Suan Mok in some publications and websites that try to cap­ture the pronunciation. The visitors attend 10-day silent retreats with instruction in med­ita­tion and Dharma. The instructions at the International Dharma Hermitage are given in English.</p>

				<p>There are a number of other buildings at Wat Suan Mokkh, including the Spiritual Theatre and the assembly hall in the form of a big ship - a metaphor for the Dharma - with a foreign library and the sculpture work­shop.
				The foreign library has a variety of books on med­i­ta­tion, Buddhism and related topics in many languages including English, German, French and Japanese.</p>

				<p>Picture Anyone arriving early for a retreat, wanting to stay longer or arriving during re­treats is wel­come to stay, ini­tial­ly for up to 7 days, at the main mon­as­tery. If, after 7 days, you intend to pro­long your stay, you need to get per­mis­sion by the abbot of Suan Mokkh or his rep­re­sen­ta­tive. Per­mis­sion will readily be granted to dedi­cated medi­tators and students of Buddhism. Doing a chore (com­mu­nity work like sweeping leaves) while staying is part of the practice.
				Ac­com­mo­dation in dorms (for men) or in­di­vid­ual rooms (for wom­en) is free; food is avail­able inside the mon­as­tery or at the nearby stalls.
				Please note that there are neither organised activities nor a certain schedule to be fol­lowed, no teachings or instructions been offered while staying at the main Suan Mokkh monastery. This possibility is therefore most suitable for people who have done a retreat at the In­ter­na­tional Dharma Hermitage already or for experienced med­ita­tors who can use the wat's facilities without guidance.</p>
			</div>
		</div>
				<a href="#" class="btn btn-default btn-xl wow fadeIn text-center">Learn More</a>
	</section>