<section id="tanajarn" class="bg-primary" style="padding-top:25px">
	<div class="container	text-justify">
				<h1 class="text-center">Buddhadasa Bhikkhu</h1><hr> 

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
	<!-- <div>
		    		<%= image_tag "ajarn1.jpg", class: "lazyOwl img-responsive floatCenter shadow"%>	
		    		</div> -->

					<iframe id="ytplayer" type="text/html" width="100%" height="555" src="https://www.youtube.com/embed/rp3-7nquO3U?cc_load_policy=1&modestbranding=1&color=white&theme=light"frameborder="0" allowfullscreen></iframe>

					<!-- <iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119522369&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> -->
			</div>
			<div class="col-md-12">
				<br>
				<p class="havePadding" style="line-height:2;"><i class="fa fa-quote-left fa-3x pull-left"></i> ...founded Suan Mokkh after giving up on the monastic system in Bangkok. He found the Wats (temples) there dirty, crowded, and corrupt, nothing like the purer, more simple Buddhism of his birthplace. Thus, returned to the South and moved into an abandoned temple near his hometown. At first living alone, then with others as news of his experiment spread, he took a radical look into the sources of Theravada Buddhism and dedicated his life to following the pristine Dhamma and correcting the numerous mistaken beliefs and practices that had crept in over the centuries. Some hated him, others loved him. Why not see what he has to offer? See below for some of his teachings.</p>
				<hr>
				<a href="#" class="btn btn-primary btn-xl text-center floatCenter" role="button" style="width: 200px;">Learn More</a>
<!-- 				<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119522369&amp;color=725843&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe> -->
			</div>
		</div>
	</div>
</section> 