	<section class="bg-dark" id="teachings" style="padding: 15px;">
		<div class="container-fluid">
			<h1 class="text-center">Teachings</h1>
			<hr>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-xs-6 col-md-2 text-center">
					<%= link_to '/books', :id => 'switch_to_books', :class => 'dark', :style=>"display:inline-block;" do %>
					  <span class="fa-stack fa-2x">
					    <!-- <i class="fa fa-circle-thin fa-stack-2x"></i> -->
					    <i class="fa fa-book fa-stack-1x"></i>
						</span>
						<h3>Books</h3>
					<% end %>
				</div>
				<div class="col-xs-6 col-md-2 text-center">
					 <a class="dark" style="display:inline-block;"><span class="fa-stack fa-2x">
					    <!-- <i class="fa fa-circle-thin fa-stack-2x"></i> -->
					    <i class="fa fa-headphones fa-stack-1x"></i>
					</span>
					<h3>Audios</h3></a>
				</div>
				<div class="col-xs-6 col-md-2 text-center">
					<%= link_to '/articles', :id => 'switch_to_articles', :class => 'dark', :style=>"display:inline-block;" do %>
						<span class="fa-stack fa-2x">
											    <!-- <i class="fa fa-circle-thin fa-stack-2x"></i> -->
											    <i class="fa fa-file-text fa-stack-1x"></i>
											</span>
											<h3>Articles</h3></a>
					<% end %>
				</div>
				<div class="col-xs-6 col-md-2 text-center">
					 <a class="dark" style="display:inline-block;"><span class="fa-stack fa-2x">
					    <!-- <i class="fa fa-circle-thin fa-stack-2x"></i> -->
					    <i class="fa fa-quote-left fa-stack-1x"></i>
					</span>
					<h3>Poems</h3></a>
				</div>
				<div class="col-xs-12 col-md-2 text-center">
					 <a class="dark" style="display:inline-block;"><span class="fa-stack fa-2x">
					    <!-- <i class="fa fa-circle-thin fa-stack-2x"></i> -->
					    <i class="fa fa-video-camera fa-stack-1x"></i>
					</span>
					<h3>Videos</h3></a>
				</div>
				<div class="col-md-1"></div>
			</div>


			<!-- <h2 class="text-center">Books</h2> -->
<!-- 		<div class="container">
		<h2 class="text-center">Audio</h2>
		<hr>
		<div class="row">
			<div class="col-md-12">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2127712&amp;color=725843&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/35428193&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
		</div>
		</div> -->

	</section>