<% content_for :head do %>
<title>Buddhadasa's Teachings - Suan Mokkh</title>
<% end %>

<div class="bg-dark article_standard" style="border: none; padding-top: 70px;">

<div class="container bg-dark">
	<h1 class="text-center">Teachings</h1>
	<hr>
	<div class="col-md-12">
		<div id="teachings" class="bg-primary">
<!-- 			<h1 class="text-center">Retreat</h1>
			<hr> -->
				<div class="container-fluid">
				    <div class="row">
				        sdfj;
				    </div>
				</div>
			</div> 						
		</div>
	</div>
</div>