// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coverImgShowBook {
	margin:15px auto;
}

.book_header {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 45px;
	border: 10px solid white;
}