html,
body {
    width: 100%;
    height: 100%;
}

body {
    /*font-family: font10, Merriweather,'Helvetica Neue',Arial,sans-serif;*/
    /*font-size: 1.2em;*/
    color: #333;
    font-style: normal;
    font-family: font10, "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 1.4em;
    line-height: 1.4444;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}

hr {
    max-width: 50px;
}

hr.light {
    border-color: #fff;
}

hr.full {
	max-width: 100%;
}

.noMargin {
	margin:0;
}

.text-indent {
    text-indent: 50px;
}

a {
		/*font-size: 16px;*/
    color: #725843;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: black;
    text-decoration: none;
}

a.dark {
	font-size: 16px;
  color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  border: 2px solid #725843;
}

a.dark:hover, a.dark:active, a.dark.focus {
	color:white;
	text-decoration: none;
	border-bottom: 2px solid white;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:font10, 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 500;
}

p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 1.5;
}

p.small {
    font-size: 15px;
}

p.light {
    font-weight: 300;
}

.jumbotron p {
    font-size: 17px;
}

p,h1,h2,h3,h4,h5,h6,blockquote {
  word-wrap: break-word;
  word-break: break-word;
}

.bg-primary {
	color:black;
  background-color: #fff;
}

.bg-dark {
    color: #fff;
    background-color: #725843;
}

.bg-primary hr {
    border-top-color: #725843;
}

.brown {
	color:#725843;
}

.black {
	color:black;
}

.white {
	color:white;
}

.havePadding {
	padding: 15px;
}

.background-brown {
    background-color: #725843;
}

.text-faded {
    /*color: rgba(255,255,255,.7);*/
    color: #725843;
}

#owl-books .item{
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.grid-sizer,
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }

section {
    padding: 25px 0;
}

aside {
    padding: 25px 0;
}

@font-face {
    font-family: font1;
    src:url(AvenirNextLTPro-UltLtCn.otf);
}
@font-face {
    font-family: font2;
    src:url(avenirnext-ultralight.ttf);
}
@font-face {
    font-family: font3;
    src:url(Aileron-Thin.otf);
}
@font-face {
    font-family: font4;
    src:url(BebasNeueThin.otf);
}
@font-face {
    font-family: font5;
    src:url(GandhiSans-Regular.otf);
}
@font-face {
    font-family: font6;
    src:url(GloberThinFree.otf);
}
@font-face {
    font-family: font7;
    src:url(KasseFLF.ttf);
}
@font-face {
    font-family: font8;
    src:url(MicroFLF.ttf);
}
@font-face {
    font-family: font9;
    src:url(TitilliumWeb-ExtraLight.ttf);
}
@font-face {
    font-family: font10;
    src:url(Vegur-Light.otf);
}
@font-face {
    font-family: font10;
    src: url(Vegur-Regular.otf);
    font-weight: 900;
}

.section-padding {
    padding-top: 70px;
    padding-bottom: 30px;
}

.big-top-padding {
    padding-top: 70px;
}

.big-top-margin {
    margin-top: 70px;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    /*text-transform: uppercase;*/
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    /*font-weight: 100;*/
    font-size: 1.3em;
    color: #725843;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #725843;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    /*text-transform: uppercase;*/
    color: white;
    /*font-size: 15px;*/
    font-size: 1.3em;

    /*font-weight: 100;*/
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #725843;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #725843!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}
.dropdown-menu {
	width: 320px;
	border:none;
}

.dropdown-menu li a {
	text-align: center;
}



.dropdown_sitemap > li > a:hover, .dropdown_sitemap > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown_sitemap li a {
    text-align: center;
}

.dropdown_sitemap > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}


.scrollable-menu {
    height: auto;
    max-height: 320px;
    overflow-x: hidden;
}

@media(min-width:768px) {
	.dropdown-menu {
		/*width: 100%;*/
		border:none;
	}
    .navbar-default {
        /*border-color: rgba(255,255,255,.3);*/
        background-color: transparent;
        border:none;
    }

    .navbar-default .navbar-header .navbar-brand {
        /*color: rgba(255,255,255,.7);*/
        color:white;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: rgba(255,255,255,.7);
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 10px;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: black;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #725843;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #725843;
    }
}



header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.indexPage {
	background-image: url(header11.jpg);
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    /*font-weight: 100;*/
    /*font-family: font1;*/
    /*font-size: 5em;*/
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 22px;
    /*font-weight: 100;*/
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 55%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

#book_lang_filter li a {
	color:white;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: #725843;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 0.8;
    border: 5px solid white;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #725843;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #725843;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #725843;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border: none;
    color: #fff;
    background-color: #725843;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border: none;
    color: black;
    background-color: white;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #725843;
    background-color: #725843;
}

.btn-primary .badge {
    color: #725843;
    background-color: #fff;
}

.btn {
    /*border: 0;*/
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl wow fadeIn {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

.floatCenter {
	margin:0 auto;
	display: block;
}

.shadow {
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4)
}

#tanajarn {
	/*padding: 50px; */
	/*background-image: url(suanmokkh1.jpg);*/
	background-size: cover;
}

#suanMokkh {
	position: relative;
	width: 100%;
	min-height: auto;
	text-align: center;
	color: #fff;
	background-image: url(suanmokkh4.jpg);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#followFooter{
	font-size: 2.7em;
}

#followFooter i {
	margin:0 5px;
}

.eventCaption {
	margin-top: -100px;
	background-color: white;
	z-index: 12;
	position: relative;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.retreatCaption {
	/*margin-top: -450px;*/
	z-index: 12;
	position: relative;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.haveBorder {
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.haveMargin {
    margin-top:15px;
    margin-bottom:15px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
}

.media:hover {
	background-color: #f5f5f5;
	cursor: pointer;
	transition: all .35s;
	/*font-size: 1.2em;*/
}

.retreat-grid {
	padding:15px;
}

.footer-icon {
    font-size: inherit;
    color:white;
}

a.footer-icon:hover {
    color:white;
}

.article_standard p {
    text-indent: 50px;
    font-family: font10;
    font-weight: 500;
    font-size: 1.1em;
    text-align: justify;
}

.list-dark li a {
    color:white;
}

.list-dark li a:hover, .list-dark li a:focus {
    color:black;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 1px solid #fff;
    /*border: 2px solid #725843;*/
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: #262626;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.article_image {
    margin: 15px 25px;
}

.float_inherit {
    float: inherit;
}

#retreat_talk_banner {
    border: none; margin-top: 40px;
}

.poem-content p,h1,h2,h3,h4,h5 {
    font-weight: 300;
}

.btn-primary:focus {
    background-color: #725843;
    color: #fff;
}