// Place all the styles related to the RetreatTalks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.retreat_talk_header {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 30px 45px 15px 45px;
	border: 10px solid white;
}
