	<footer id="footer" class="bg-dark">
		<div class="row footer-row">
			<div class="col-md-4 text-center">
				<h3>GET IN TOUCH</h3>
				<hr>
				<a href='/contact' class="white">CONTACT US</a><br><br>
				<a href='/feedbacks/new' class="white">SEND FEEDBACK</a><br><br>
				<a href='/feedbacks/new' class="white">REPORT ERROR</a>
			</div>
			<div id="followFooter"class="col-md-4 text-center">
				<h3>FOLLOW US</h3>
				<hr>
				<a class="footer-icon" target="_blank" href="https://soundcloud.com/buddhadasa"><i class="fa fa-soundcloud"></i></a>
				<a class="footer-icon" target="_blank" href="https://www.facebook.com/suanmokkhbangkok"><i class="fa fa-facebook"></i></a>
				<!-- <a class="footer-icon" target="_blank" href="https://twitter.com/buddhadasa"><i class="fa fa-twitter"></i></a> -->
				<a class="footer-icon"><i class="fa fa-youtube"></i></a>
			</div>
			<div class="col-md-4 text-center">
				<h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
				<hr>
				<%= form_for(Subscriber.new, remote: true, html: { class: "input-group new_user", id: "new_user", style: "width:300px; margin:0 auto;" }) do |f| %>
				<%= f.email_field :email, :class => 'form-control', :placeholder => "Your Email Here..." %>
				<span class="input-group-btn">
					<%= f.submit 'submit', :class => 'btn btn-default' %>
				</span>
				<% end %>
				<div id="footeralert"></div>
			</div>
		</div>
		<div class="col-md-12 text-center bg-dark" style="padding:5px 0;">
			<p class="light">Copyright© <%= Time.now.year %> Suan Mokkh</p>
		</div>
	</footer>