	<footer id="footer" class="bg-dark">

		<div class="row" style="padding-top:50px;padding-bottom:50px; margin:0;">
			<div class="col-md-4 text-center">
				<h3>NEED HELP? CALL US</h3>
				<hr>
				<h3>081-906-1590</h3>
			</div>
			<div id="followFooter"class="col-md-4 text-center">
				<h3>FOLLOW US</h3>
				<hr>
				<a class="footer-icon" href="https://www.facebook.com/suanmokkhbangkok"><i class="fa fa-facebook"></i></a>
				<a class="footer-icon" href="https://twitter.com/buddhadasa"><i class="fa fa-twitter"></i></a>
				<a class="footer-icon" href="https://instagram.com/buddhadasa/"><i class="fa fa-instagram"></i></a>
				<a class="footer-icon" href="https://www.youtube.com/user/buddhadasaarchives"><i class="fa fa-youtube"></i></a>
			</div>
			<div class="col-md-4 text-center">
				<h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
				<hr>
				<!-- <input type="email" maxlength="70" placeholder="Your Email Here..." style="font-size:2em;"> -->
<!-- 				<form class="form-inline">
				<div class="form-group">
				  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Your Email Here...">
				</div>
				</form> -->
				<div class="input-group" style="width:300px; margin:0 auto;">
				      <input type="text" class="form-control" placeholder="Your Email Here...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">submit</button>
				      </span>
		    </div><!-- /input-group -->
			</div>
		</div>
		<div class="col-md-12 text-center bg-dark" style="padding:10px 0;">
		<p class="light">Copyright© <%= Time.now.year %> Suan Mokkh</p>
		</div>
		
	</footer>